@page
@model MyApp.Namespace.ConterPageModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Strona z licznikiem odwiedzin</h1>
    <div>Ilość odwiwedzin: ...</div>
    <form method="post">
        <input class="btn btn-danger p-3" type="submit" value="Resetuj licznik"/>
    </form>
</body>
</html>