@model List<Book>
@{
    ViewData["Title"] = "Home Page";
}
<h2>Lista książek</h2>
<div>
    <a asp-action="Insert" class="btn btn-primary p-3">dodaj nową książkę</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>
