@model Book

<h3>Dodaj książkę</h3>
<form  method="post">
    <div class="row m-2">
        <label class="col-3 text-end" asp-for="Title"></label>
        <input class="col-6" type="text" asp-for="Title">
        <span class="col-3 text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="row m-2">
        <label class="col-3 text-end" asp-for="Author"></label>
        <input class="col-6" type="text" asp-for="Author">
        <span class="col-3 text-danger" asp-validation-for="Author"></span>
    </div>
    <div class="row m-2">
        <label class="col-3 text-end" asp-for="Price"></label>
        <input asp-for="Price" type="number" step="0.01" min="0" class="col-6" >
        <span class="col-3 text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="row m-2">
        <input  class="btn btn-primary offset-3 col-2 " type="submit" value="Zapisz">
        <input class="btn btn-primary col-2 mr-2" type="reset" value="Wyczyść">
    </div>
</form>