@page
@model MyApp.Namespace.NwdPageModel
@{
}
 <form method="post">
        <div class="row m-3">
            <label class="col-3 text-end">Podaj a:</label>
            <input asp-for="@Model.A"  class="col-3">
        </div>
        <div class="row m-3">
            <label class="col-3 text-end">Podaj b:</label>
            <input  asp-for="@Model.B" class="col-3">
        </div>
        <div class="row m-3">
            <select asp-for="@Model.Choice"  class="col-3 offset-3">
                <option value="iter">Iteracyjnie</option>
                <option value="rek">Rekurencyjnie</option>
            </select>
        </div>
        <div class="row m-3">

            <input type="submit" name="submit" class="offset-3 col-3" value="OBLICZ NWD">
        </div>
    </form>