@{
}
<h1>Strona W kontrolerze Ryba akcja Index</h1>
<h3>
   <p>Kontroler: @ViewContext?.RouteData?.Values["controller"]?.ToString()</p> 
   <p>Akcja @ViewContext?.RouteData?.Values["action"]?.ToString()</p>
  </h3>