@page
@model MyApp.Namespace.IndexModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Strona Index</h1>
    <div>
        To jest strona dynamiczna czas serwera:
        <p>@DateTime.Now.ToLongTimeString()</p> 
    </div>
</body>
</html>