
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Strona Layout</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, unde? Tempora dolorum sed enim in, ea quam explicabo dicta praesentium ullam ducimus illum illo aspernatur voluptates veniam alias quo sit?</p>
    
    </div>
    <hr>
    @RenderBody()
</body>
</html>