@page
@* @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers *@
@model MyApp.Namespace.OtherModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Strona druga</h1>
        <a asp-page="Index">Powrót</a>
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus eos nam eaque expedita itaque earum
            nihil saepe id mollitia, cum placeat repudiandae sunt quod totam laudantium blanditiis. Vel, dolorem
            corporis?</div>
    </div>
</body>

</html>