@page
@model MyApp.Namespace.Page1Model
@{
}
<h2>Page1</h2>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quo est nihil pariatur facere blanditiis nobis, explicabo neque ullam, tenetur mollitia praesentium. Veritatis quo officia sequi tenetur quasi suscipit illo?</div>