@page
@model MyApp.Namespace.CounterModel
@{
}
<h3>Strona z licznikiem</h3>
<div>Ilość odwiedzin: ....</div>
<form method="post">
    <input class="btn btn-outline-dark" type="submit" value="Resetuj licznik">
</form>