@page
@using cw16_form.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>Lista uczestników</h2>
<h4>TODO</h4>
<ul>
    @foreach(var line in FileRepo.GetAll())
    {
        
    }
</ul>