@page
@model MyApp.Namespace.IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index.css">
    <title>Document</title>
</head>
<body>
    <h1>Strona Index</h1>
    <div>@DateTime.Now.ToShortDateString()</div>
    <div>
        <a asp-page="Page2">Do strony Page2</a>
    </div>
    <script src="~/js/index.js" defer></script>
</body>
</html>