@page
@model MyApp.Namespace.Page2Model
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Page 2</h1>
    <div>
        <a href="/Index">Powrót do strony głównej</a>
    </div>
</body>
</html>