@page
@model MyApp.Namespace.Form2Model
@{
}
<form action="" method="post">
    <input >
    <input >
    <select>
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
        <input type="submit" value="Oblicz"/>
    </select>
</form>
