@page
@model MyApp.Namespace.Page1Model
@{
}
<h2>Strona 1</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui atque doloremque eveniet blanditiis eum voluptas at, placeat tempora asperiores tenetur veniam a possimus itaque alias voluptatem pariatur provident reiciendis distinctio!</p>