@page
@model MyApp.Namespace.CounterModel
@{
}
<h2>Licznik odwiedzin</h2>
<div>Ilość odwiedzin: ...</div>
<form method="post">
    <input type="submit" value="Resetuj licznik" class="btn btn-info">
</form>