
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Biblioteka miejska</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<div id="baner">
		<h2>Miejska Biblioteka Publiczna w Książkowicach</h2>
	</div>
	<div id="lewy">
		<h3>W naszych zbiorach znajdziesz dzieła następujących autorów:</h3>
		<ul>
			
		</ul>
	</div>
	<div id="srodkowy">
		<h3>Dodaj nowego czytelnika</h3>
		<form action="biblioteka.php" method="post">
			<label>
				imię:
				<input type="text" name="imie" /><br />
			</label>
			<label>
				nazwisko:
				<input type="text" name="nazwisko" /><br />
			</label>
			<label>
				rok urodzenia:
				<input type="number" name="rok" /><br />
			</label>
			<button>DODAJ</button>
		</form>
		
	</div>
	<div id="prawy">
		<img src="~/images/biblioteka.png" alt="książki" />
		<h4>
			ul. Czytelnicza 25<br />
			12-120 Książkowice<br />
			tel.: 123123123<br />
			e-mail: <a href="mailto:biuro@biblioteka.pl">biuro@biblioteka.pl</a>
		</h4>
	</div>
	<div id="stopka">
		<p>Projekt strony: PESEL</p>
	</div>
</body>
</html>