@page
@model MyApp.Namespace.Page2Model
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page2
        @DateTime.Now.ToLongDateString();
    </h1>
    <div>
        <a asp-page="Index">Powrót do Index</a>
    </div>
</body>
</html>
