@page
@model MyApp.Namespace.Page1Model
@{
}
<h2>Strona Page1</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt deserunt sed commodi quasi totam ex similique nesciunt iste in accusamus. Animi commodi eligendi iste? Molestias consequatur cumque distinctio obcaecati excepturi?</p>