@page
@model MyApp.Namespace.Index2Model
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Strona Index2</h1>
    <a asp-page="Index">Powrót do Index</a>
    <div>
        dodac generowanie select i options z kolorami
        a potem obsłużyć to w js aby zmieniały się kolory
        body.backgroundColor
    </div>
</body>
</html>
